{% extends 'baselogin.html' %}

{% block content %}
	<div class="form">
    	<ul class="tab-group">
        	<li class="tab active"><a href="#login">Log In</a></li>
		</ul>
      
      	<div class="tab-content:after active">
        	<div id="login">   
				<form action="/student/login/" method="post">
				{% csrf_token %}	
						<h1>Welcome Back!</h1>
			  
						<div class="field-wrap">
						<label for="{{ form.username.id_for_label }}">
							Email Address<span class="req">*</span>
						</label>
						{{ form.username }}
					</div>
			  
					<div class="field-wrap">
						<label for="{{ form.password.id_for_label }}">
							Password<span class="req">*</span>
						</label>
						{{ form.password }}
					</div>
			  
					<p class="forgot"><a href="/student/resetpass">Forgot Password?</a></p>
			  
					<button class="button button-block"/>Log In</button>
			  
				</form>
        	</div>
	</div>
{% endblock %}
